.beer-item{
  background-color: rgb(255, 232, 203);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(4, 3, 3, 0.1);
  padding: 16px;
  text-align: center;
  border: 2px solid black;
  margin: 2rem;
  width: 250px;
  align-items: center;
  text-align: center;

  
}

.beer-image {
 width: 250px; 
 height: 150px;
  object-fit: contain;
  border-radius: 8px;
  
  text-align: center;
  align-items: center;
  display: flex;
  

  
}
.beer{
 background-color: #b66fe6;
 display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.searching{
  
  padding: 3rem;
 background-image: linear-gradient(to right, #915bfd,#fda539);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.searching input{
  
  
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    padding: 10px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  
}